// Vuetifyカスタマイズ用
.v-btn {
	text-decoration: none !important;
}

.v-list-item {
	text-decoration: none !important;
}

.v-text-field__details {
	padding-left: 0px !important;
}

.v-text-field--outlined fieldset {
	border-color: currentColor !important;
}

/* タグカスタム */
.ti-input {
	background: #f4f8fa;
	border-radius: 4px;
	border-color: rgb(244, 248, 250);
	margin-bottom: 10px;
}
.vue-tags-input .ti-tag {
	position: relative;
	background: #ebde6e;
	color: #283944;
}
.ti-new-tag-input-wrapper {
	font-size: 16px !important;
}
.ti-tag {
	background: #00bcd4 !important;
	color: #fff;
}
.ti-deletion-mark {
	background: red !important;
}
.tag-error-text {
	font-size: 12px;
	height: 14px;
}

// 独自クラス
// 共通
.tc-w {
	color: #fff;
}
.ta-c {
	text-align: center;
}
.td-none {
	text-decoration: none !important;
}
.c-cyan {
	color: $cyan !important;
}
.ta-r {
	text-align: right;
}

// チャット関連style
.msg_left,
.msg_right {
	margin: 10px 0;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.msg_right {
	justify-content: flex-end;
	margin-right: 25px;
}
.msg_left .icon {
	margin-right: 25px;
}
.msg {
	max-width: 95%;
	position: relative;
	padding: 10px;
	border-radius: 12px;
	background: #8ee7b6;
	box-sizing: border-box;
	margin: 0 !important;
	line-height: 1.5;
}
.msg p {
	margin: 8px 0 0 !important;
}
.msg p:first-child {
	margin-top: 0 !important;
}
.msg:after {
	content: "";
	position: absolute;
	border: 10px solid transparent;
	margin-top: -3px;
}
.msg_left .msg:after {
	left: -26px;
	border-right: 22px solid #8ee7b6;
}
.msg_right .msg:after {
	right: -26px;
	border-left: 22px solid #8ee7b6;
}

// profile
.profile-tabs {
	max-width: 800px;
	margin: auto;
}

/* fab */
.fab-container {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 6;
	padding: 48px;
}

.input-label {
	color: #333;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 4px !important;
}

.auth-form {
	padding: 32px 56px 56px;
	margin-top: 60px;
}
@media screen and (max-width: 599px) {
	.xs-f-size {
		font-size: 16px !important;
	}
	.input-label span {
		display: inline-block;
	}
	/* fab */
	.fab-container {
		padding: 24px;
	}
	.auth-form {
		padding: 10px 10px 30px;
		margin-top: 0px;
	}

	.header-btn {
		height: 28px;
		min-width: 50px;
	}
	.header-btn a {
		font-size: 0.75rem;
	}

	.dialog-custom {
		width: 100% !important;
	}
}
